@model EndPoint.Site.ViewModels.SiteViewModels.Users.UserLoginVewModel

@{
    ViewData["Title"] = "Login";
}


<div class="container-fluid no-left-padding no-right-padding single-post">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!-- Content Area -->
            <div class="col-md-12 col-sm-12 col-xs-12 content-area">



                <div class="row">
                    <form class="login-form" method="post" asp-action="Login" asp-controller="Users">
                        <h1>ایجاد حساب جدید</h1>

                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="ورود" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div><!-- Content Area /- -->

        </div>
    </div><!-- Container /- -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
