@model EndPoint.Site.ViewModels.AdminViewModels.Page.EditPageViewModel

@{
    ViewData["Title"] = "ویرایش";
}

<h1>ویرایش صفحه</h1>

<hr />
<div class="row form">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageId" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescribtion" class="control-label"></label>
                <input asp-for="ShortDescribtion" class="form-control" />
                <span asp-validation-for="ShortDescribtion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input type="hidden" asp-for="ImageName"/>

                <img src="\@Model.ImageName" style="width:100%" class="thumbnail" />
                <input type="file" accept="/image" id="imgUp" name="imgUp" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>

                <select class="form-control" name="GroupId" asp-items="@ViewBag.GroupSelect"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
