
@{
    ViewBag.Title = "ShowMessage";
}



<div class="container-fluid no-left-padding no-right-padding single-post">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!-- Content Area -->
            <div class="col-md-12 col-sm-12 col-xs-12 content-area">



                <div class="row">
                    <div class="login-form">
                        <h1>پیام سیستم</h1>
                        <hr />
                        <br />
                        <p>
                            @ViewBag.Message
                        </p>

                    </div>
                </div>

            </div><!-- Content Area /- -->

        </div>
    </div><!-- Container /- -->
</div>

