@model EndPoint.Site.ViewModels.AdminViewModels.Site.HeaderLinksViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>از حذف مطمئنید؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LinkId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
