@using EndPoint.Site.ViewModels

@model IEnumerable<PageGroupsForAdminViewModel>

@{
    ViewData["Title"] = "گروه ها";
}

<h1>گروه های خبری</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد گروه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId" class="btn btn-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
