
@{
}

<!-- Widget Category -->
<div class="col-md-3 col-sm-6 col-xs-6">
    <aside class="widget widget_tag_cloud">
        <h3 class="widget-title">Popular tags</h3>
        <div class="tagcloud">
            <a href="#" title="Android">Android</a>
            <a href="#" title="Apple">Apple</a>
            <a href="#" title="Development">Development</a>
            <a href="#" title="Dev and Design">Dev and Design</a>
            <a href="#" title="Gallery">Gallery</a>
            <a href="#" title="Games">Games</a>
            <a href="#" title="Life and Style">Life and Style</a>
            <a href="#" title="Technology">Technology</a>
            <a href="#" title="Sports">Sports</a>
        </div>
    </aside>
</div><!-- Widget Category /- -->
