<!-- Widget Area -->
<div class="col-md-4 col-sm-6 col-xs-6 widget-area">

    @await Component.InvokeAsync("RecentPages")

    @await Component.InvokeAsync("MostLikedPages")
    
    @await Component.InvokeAsync("MostViewedPages")
</div>
<!-- Widget Area /- -->